.container{
    background-color: #F3F3F3;
    margin-top: 0px;
}
.heading{
    margin-top: 20px;
    text-align: center;
    
    color: #1C1B1B;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.body-container{
    display: flex;
    
    width: 1400px;
    margin: auto;
 
}

.price-credit{
    display: flex;
    gap: 10px;
 align-items: center;
}

.card-container{
    
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
   
    
}
.picture{
    width: 320px;
}
.info{
    display: flex;
    gap: 50px;
    font-size: 18px;
    justify-items: center;
    align-items: center;
}
.title-text{
    font-size: 23px;
}

.card{
    background-color: white;
    align-items: center;
    height: auto;
    width: 320px;
    padding: 7px;
    border-radius: 5px;
}

.icon-image{
    height: 20px;
    width: 20px;
}
.card-btn{
    background-color: blue;
    color: white;
    width: 320px;
    height: 30px;
    border: none;
    border-radius: 5px;
}